

.Login {
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
}


.input {
    width: 110%;
    padding: 8px;
    margin-top: 25px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

Button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #b9dcc8;
    color: white;
}

Button:hover {
    background-color: #4d27ae;
}

.error-message {
    color: #ff3333;
    margin-bottom: 10px;
}

.forgot a {
    text-decoration: none;

}

