.Blog-MyNavbar {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 


}

.custom-nav-head {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.custom-nav-link {

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.dropdown-image {
    width: 30px;
    height: 30px;

    cursor: pointer;

}


.custom-dropdown-toggle {
    background-color: transparent !important;

}

.dropdown-toggle {
    border: none !important;

}


.nav-link1 {
    font-size: small;
    font-family: "Poppins", sans-serif;
}
.custom-nav-link1{

    font-family: "Poppins", sans-serif;
    font-size: medium;   
        font-weight: 500;
        color: rgb(59, 59, 59);
}
.custom-nav-link1:hover{
 
    color: rgb(244, 243, 243);
    background-color: rgb(146, 189, 232);
}
.custom-nav-link2{
    font-family: "Poppins", sans-serif;
        font-size: medium;
        font-weight: 500;
    color: rgb(59, 59, 59);
}
.custom-nav-link2:hover{
    color: aliceblue;
    background-color: red;
}