
.register-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-image: linear-gradient(211deg, #FFDEE9 0%, #B5FFFC 100%);
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
}

.SignUp {
    font-family: "Poppins", sans-serif;
    font-variant: small-caps;
        font-weight: 800;
        font-style: normal;

}

.input-group {
    margin-bottom: 15px;
}




.signup-button {
    width: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;

}

.signup-button:hover {
background-color: #7dcce2;

}

.error-message {
    color: #dc3545;
    margin-bottom: 10px;
}


.Login a {
    text-decoration: none;
    color: green;
    font-size: 15px;
    font-weight: 900;
}

